@use "../abstracts/colors";
@use "../abstracts/variables" as vars;
@use "../abstracts/breakpoints" as *;

.feature {
  max-width: vars.$container-max-width;
  margin: 0 auto;

  &-details {
    max-width: 549px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6.5rem;
    line-height: vars.$line-height-sm;
  }

  &-subtitle {
    font-size: 3.6rem;
    color: colors.$very-dark-blue;
    font-weight: vars.$font-weight-light;
  }

  &-title {
    font-size: 3.6rem;
    color: colors.$very-dark-blue;
    font-weight: vars.$font-weight-bold;
    margin-bottom: 1.8rem;
  }

  &-cards {
    display: grid;
    grid-template-areas:
      ".......... second-card ..........."
      "first-card second-card fourth-card"
      "first-card third-card fourth-card"
      ".......... third-card ............";
    gap: 3rem;
  }

  @include breakpoint("laptops", "max") {
    &-cards {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "first-card second-card"
        "first-card second-card"
        "third-card fourth-card"
        "third-card fourth-card";
    }
  }

  @include breakpoint("tablets", "max") {
    &-subtitle {
      font-size: 2.5rem;
    }

    &-title {
      font-size: 2.5rem;
    }

    &-cards {
      grid-template-columns: 1fr;
      grid-template-areas:
        "first-card"
        "second-card"
        "third-card"
        "fourth-card";
    }
  }
}
