@use "../abstracts/variables" as vars;
@use "../abstracts/colors";

:root {
  font-size: vars.$font-size-root;
}

body {
  position: relative;
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  font-weight: vars.$font-weight-normal;
  line-height: vars.$line-height-base;
  background-color: colors.$very-light-gray;
  color: colors.$grayish-blue;
  min-height: 100vh;
}

.main {
  min-height: 100vh;
  padding: 7.8rem 3rem;
}