html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fafafa;
  color: #a3a5ae;
  min-height: 100vh;
}

.main {
  min-height: 100vh;
  padding: 7.8rem 3rem;
}

.tools {
  max-width: 1117px;
  margin: 0 auto;
}
.tools-info {
  max-width: 549px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6.5rem;
  line-height: 1.4;
}
.tools-subtitle {
  font-size: 3.6rem;
  color: #4c4e61;
  font-weight: 200;
}
.tools-title {
  font-size: 3.6rem;
  color: #4c4e61;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.tools-cards {
  display: grid;
  grid-template-areas: ". second ." "first second fourth" "first third fourth" ". third .";
  gap: 3rem;
}
@media (max-width: 984px) {
  .tools-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "first second" "first second" "third fourth" "third fourth";
  }
}
@media (max-width: 599px) {
  .tools-subtitle {
    font-size: 2.5rem;
  }
  .tools-title {
    font-size: 2.5rem;
  }
  .tools-cards {
    grid-template-columns: 1fr;
    grid-template-areas: "first" "second" "third" "fourth";
  }
}

.tool-card {
  position: relative;
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 3.2rem;
  overflow: hidden;
}
.tool-card-title {
  font-size: 2rem;
  color: #4c4e61;
  margin-bottom: 1rem;
}
.tool-card-desc {
  font-size: 1.3rem;
  margin-bottom: 4.3rem;
}
.tool-card-icon {
  height: 6.4rem;
  width: 6.4rem;
  float: right;
}
.tool-card-icon::after {
  content: "";
  display: block;
  clear: both;
}
.tool-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.4rem;
  width: 100%;
}
.tool-card:nth-of-type(1) {
  grid-area: first;
}
.tool-card:nth-of-type(1)::before {
  background-color: #45d3d3;
}
.tool-card:nth-of-type(2) {
  grid-area: second;
}
.tool-card:nth-of-type(2)::before {
  background-color: #ea5353;
}
.tool-card:nth-of-type(3) {
  grid-area: third;
}
.tool-card:nth-of-type(3)::before {
  background-color: #fcaf4a;
}
.tool-card:nth-of-type(4) {
  grid-area: fourth;
}
.tool-card:nth-of-type(4)::before {
  background-color: #549ef2;
}

/*# sourceMappingURL=main.css.map */
